@import "global";

// PRELOADER START //
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1001;
}
.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
.loaded_hiding .preloader {
    transition: 1s opacity;
    opacity: 0;
}
.loaded .preloader {
    display: none;
}
// PRELOADER END //

:root {
    --lightColor: 230;
    --darkColor: 35;
    --backendlessColor: 30;

    --mainColor: var(--lightColor);

    --selectBg: hsl(var(--mainColor), 20%, 80%);
    --selectColor: hsl(var(--mainColor), 20%, 40%);
    --bodyBg: hsl(var(--mainColor), 20%, 85%);
    --bodyColor: hsl(var(--mainColor), 20%, 40%);
    --buttonBg: hsl(var(--mainColor), 20%, 80%);
    --buttonColor: hsl(var(--mainColor), 20%, 40%);
    --blockBg: hsl(var(--mainColor), 20%, 80%);
    --headerBg: hsl(var(--mainColor), 20%, 75%);
    --headerColor: hsl(var(--mainColor), 20%, 40%);
    --footerBg: hsl(var(--mainColor), 20%, 75%);
    --footerColor: hsl(var(--mainColor), 20%, 40%);
}
:root[theme='dark'] {
    --lightColor: 230;
    --darkColor: 35;
    --backendlessColor: 30;

    --mainColor: var(--darkColor);
    filter: invert(1) brightness(0.6);

    --selectBg: hsl(var(--mainColor), 20%, 80%);
    --selectColor: hsl(var(--mainColor), 20%, 40%);
    --bodyBg: hsl(var(--mainColor), 20%, 85%);
    --bodyColor: hsl(var(--mainColor), 20%, 40%);
    --buttonBg: hsl(var(--mainColor), 20%, 80%);
    --buttonColor: hsl(var(--mainColor), 20%, 40%);
    --blockBg: hsl(var(--mainColor), 20%, 80%);
    --headerBg: hsl(var(--mainColor), 20%, 75%);
    --headerColor: hsl(var(--mainColor), 20%, 40%);
    --footerBg: hsl(var(--mainColor), 20%, 75%);
    --footerColor: hsl(var(--mainColor), 20%, 40%);
}
:root[theme='back'] {
    --lightColor: 230;
    --darkColor: 35;
    --backendlessColor: 30;

    --mainColor: var(--backendlessColor);

    --selectBg: hsl(var(--mainColor), 20%, 80%);
    --selectColor: hsl(var(--mainColor), 20%, 40%);
    --bodyBg: hsl(var(--mainColor), 20%, 85%);
    --bodyColor: hsl(var(--mainColor), 20%, 40%);
    --buttonBg: hsl(var(--mainColor), 20%, 80%);
    --buttonColor: hsl(var(--mainColor), 20%, 40%);
    --blockBg: hsl(var(--mainColor), 20%, 80%);
    --headerBg: hsl(var(--mainColor), 20%, 75%);
    --headerColor: hsl(var(--mainColor), 20%, 40%);
    --footerBg: hsl(var(--mainColor), 20%, 75%);
    --footerColor: hsl(var(--mainColor), 20%, 40%);
}

body {
    background-color: var(--bodyBg);
    color: var(--bodyColor);
}
select {
    background: var(--selectBg);
    color: var(--selectColor);
    padding: 2px;
    cursor: pointer;
    display: none;
}

// HEADER START //

.header {
    background: var(--headerBg);
    color: var(--headerColor);
    input, label {
        cursor: pointer;
        margin-right: 5px;
    }
    input, label:hover {
        opacity: 0.5;
        transition: all .3s linear;
    }
    &__buttons {
        display: none;
        button {
            background: var(--buttonBg);
            color: var(--buttonColor);
            font-size: 14px;
            padding: 3px;
            cursor: pointer;
            margin-right: 5px;
            outline: none;
            border: none;
        }
        button:hover {
            opacity: 0.5;
            transition: all .3s linear;
        }
        button:focus {
            filter: brightness(1.2);
        }
    }
    &__title {
        font-size: 20px;
    }
    &__title:hover {
        opacity: 0.5;
        transition: all .3s linear;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
    }
}

// HEADER END //

// MAIN START //
.main {
    padding-top: 10px;
    &__title {
        display: flex;
        justify-content: center;
        font-size: 34px;
        font-weight: 700;
    }
    &__title span { 
        animation: float .2s ease-in-out infinite; 
    }

    @keyframes float {
    0%,100% { transform:none; }
    33% { transform:translateY(-1px) rotate(-2deg); }
    66% { transform:translateY(1px) rotate(2deg); }
    }
}

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }
h1 span:nth-child(15){ animation-delay:.70s; }
h1 span:nth-child(16){ animation-delay:.75s; }
h1 span:nth-child(17){ animation-delay:.80s; }
h1 span:nth-child(18){ animation-delay:.85s; }
h1 span:nth-child(19){ animation-delay:.90s; }

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 150px);
    grid-gap: 10px;
    padding: 10px;
}
.block {
    background: var(--blockBg);
    display: grid;
    justify-items: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}
.block:first-child {
    grid-column: 1/4;
    grid-row: 1/4;
}
.block:last-child {
    grid-column: 5/2;
    grid-row: 5/8;
}
// MAIN END //

// FOOTER START //

.footer {
    background: var(--footerBg);
    color: var(--footerColor);
    margin-top: 10px;
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 10px;
    }
    &__link {
        margin-right: 5px;
    }
    &__link:hover {
        opacity: 0.5;
        transition: all .3s linear;
    }
    &__phone:hover {
        opacity: 0.5;
        transition: all .3s linear;
    }
    &__social a {
        margin-right: 5px;
    }
    &__social a:hover {
        opacity: 0.5;
        transition: all .3s linear;
    }
}

// FOOTER END //

@import "media";